/* 滚动条样式 */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 3px;
  transition: all 0.2s ease;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}

.animate__fadeInFast__duration-150 {
  animation-duration: 0.15s; /* 将动画速度调整为 0.5 秒 */
}
.animate__pulse {
  --animate-duration: 2s;
}
.animate__bounce {
  --animate-duration: 1.5s;
}
.animate__rubberBand {
  --animate-duration: 1s;
}
.animate__heartBeat {
  --animate-duration: 1.3s;
  --animate-delay: 1s;
}
